<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiestas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="/frontend/css/busqueda.css">
    <link rel="stylesheet" href="/frontend/css/header.css">

</head>
<body>
    <div class="row">
        <div class="col-12 mb-5">
            <nav class="header-container" id="header-container"></nav>
        </div>
        <div class="col-8 mt-5">
            <h3 id="fecha" class="busca text-center text-light mt-5"></h3>
            <h3 id="tipo" class="busca text-center text-primary"></h3>
        </div>
        <div class="col-4">

        </div>
        <div class="container mt-4" id="contenedorFiestas"></div>
    </div>
    <script type="module" src="/scripts/fiestas/scriptFiesta.js"></script>
    <script src="/scripts/scriptHeader.js"></script>
</body>
</html>