<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fiestas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/frontend/css/bootstrap.min.css">
  <link rel="stylesheet" href="/frontend/css/header.css">
  <link rel="stylesheet" href="/frontend/css/fiesta.css">
 

</head>

<body>

  <nav class="header-container position-absolute w-100" id="header-container"></nav>
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="container mt-5">
          <div class="my-4">
            <h3 id="fecha" class="busca text-light text-center"></h3>
            <h3 id="tipo" class="busca text-primary text-center"></h3>
            <h6 class="text-right"><button id="botonCiudad" class="btn btn-primary">Cambiar ciudad</button></h6>
          </div>
          <div id="contenedorFiestas" class="d-flex justify-content-center gap-3"></div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        
        <div class="sidebarAmigos d-flex align-items-center">
          
          <div id="contenedorAmigos" class="rounded"></div>
          </div>
      </div>
    </div>
  <img class="aurora-1" src="https://cdn.openwebinars.net/static/public/images/aurora-1.60a81233ca02.webp" alt="Aurora">
  <img class="aurora-2" src="https://cdn.openwebinars.net/static/public/images/aurora-2.fd71533d8ae9.webp" alt="Aurora">
  <script type="module" src="/scripts/fiestas/scriptFiesta.js"></script>
  <script src="/scripts/scriptHeader.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
