<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
 
    <link rel="stylesheet" href="/frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/frontend/css/usuario.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="row m-5">
        <div class="col-md-4 col-sm-12">
            <div class="container m-5">
                <div class="carousel slide" id="carousel" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/frontend/img/1568029445_mon.jpg" class="d-block w-100 img-carousel" alt="Imagen 1">
                        </div>
                        <div class="carousel-item">
                            <img src="/frontend/img/Copernico-The-Club-6.jpg" class="d-block w-100 img-carousel" alt="Imagen 2">
                        </div>
                        <div class="carousel-item">
                            <img src="/frontend/img/fabrik-discoteca-madrid.jpg" class="d-block w-100 img-carousel" alt="Imagen 3">
                        </div>
                        <div class="carousel-item">
                            <img src="/frontend/img/Fiestas-en-pacha-barcelona.jpeg" class="d-block w-100 img-carousel" alt="Imagen 4">
                        </div>
                        <div class="carousel-item">
                            <img src="/frontend/img/Jowke-madrid.jpg" class="d-block w-100 img-carousel" alt="Imagen 5">
                        </div>
                        <div class="carousel-item">
                            <img src="/frontend/img/original.jpg" class="d-block w-100 img-carousel" alt="Imagen 6">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="col-md-8 col-sm-12 ">
                <form method="post" action="http://127.0.0.1:3000/usuario/crear" class="p-4 border rounded shadow">
                    <p class="info h2">Crear Usuario</p>
                    <label for="nombreUsuario" class="form-label">Nombre de usuario:</label>
                    <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control ">
                    <span id="nombreError" class="text-danger"></span>
                    <br>

                    <label for="correo" class="form-label">Correo:</label>
                    <input type="email" name="correo" id="correo" class="form-control">
                    <span id="correoError" class="text-danger"></span>
                    <br>

                    <label for="pass" class="form-label">Contraseña:</label>
                    <input type="password" name="pass" id="pass" class="form-control">
                    <span id="passError" class="text-danger"></span>
                    <br>
                    <label for="confPass" class="form-label">Confirmar contraseña:</label>
                    <input type="password" name="confPass" id="confPass" class="form-control">
                    <span id="confPassError" class="text-danger"></span>
                    <div class="showPass container d-flex justify-content-end">
                        <div class="row">
                            <div class="col">
                                <i class="fa-solid fa-eye" id="show"></i>
                                <span id="mostrarPass">Mostrar contraseña</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="contenedor d-flex flex-row justify-content-between flex-wrap">
                        <label for="edad" class="form-label">Edad:</label>
                        <input type="number" name="edad" id="edad" class="form-control w-25">

                        <label for="ciudad" class="form-label">Ciudad:</label>
                        <select name="ciudad" id="ciudad" class="form-control w-50 ">
                            <option value="0">Selecciona una ciudad</option>
                            <option value="madrid">Madrid</option>
                            <option value="barcelona">Barcelona</option>
                        </select>
                        
                        <span id="edadError" class="text-danger"></span>
                        <span id="ciudadError" class="text-danger"></span>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary" value="Crear">
                    <input type="reset" class="btn btn-secondary">
                    <br>
                    <span class="d-block mt-2">¿Ya tienes cuenta? <a href="./InicioSesion.html">Click aquí</a> </span>

                </form>
            </div>
        </div>
    </div>
        <script src="/scripts/usuarios/scriptCrearUsuario.js"></script>
</body>
</html>
